<!DOCTYPE html>

<html lang="en">

<head>
    <title>Index page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

    <body>
        <h1>This is the index page. Select a testquestion, and you'll be redirected to where it has been answered</h1>

        <ul>
            <li> <a href = "{% url 'polling_units_list' %}"> Answer to First question.</a></li>
            <li> <a href = "{% url 'select_lga' %}"> Answer to Second question.</a></li>
            <li> <a href = "{% url 'add_results' %}"> Answer to Third question.</a></li>
        </ul>
    </body>

</html>